.topic-column {
    margin-bottom: 20px;
    /* Adjust the value as needed */
}

.card {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Add text shadow for better readability */
    border: none;
}

.card-body {
    padding: 20px;
    border-radius: 5px;
    /* Removed background color */
}

.card-title,
.card-text {
    font-weight: bold;
    font-size: 1.2em;
}