.post-list {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
}

.post-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    /* background-color: #D4EFF0; */
}

.post-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #FCBF49;
}

.post-content {
    padding: 10px 0;
    /* border-bottom: 1px solid #ddd; */

}

.post-date {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: right;
}

.reply-item {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reply-content {
    margin-bottom: 5px;

}

.reply-date {
    color: #888;
    font-size: 0.8em;
}

.reply-form {
    margin-top: 10px;
}

.reply-form input[type="text"] {
    background-color: #D4EFF0;
    /* Change background color as desired */
    border: 1px solid #ccc;
    /* Optional: Add a border for better visibility */
    padding: 8px;
    /* Optional: Add padding for better spacing */
    border-radius: 5px;
    /* Optional: Add border-radius for rounded corners */
}

.likes-count {
    color: #0077b6;
    /* Change this to any color you want */
    font-weight: bold;
    /* Optional: Make the text bold */
}

.back-button {
    background-color: #007bff;
    /* Change this to your desired background color */
    color: #ffffff;
    /* Change this to your desired text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
    /* Optional: Change background color on hover */
}