.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;

}

.post-title {
    color: #f0ad4e;
}

.post-content {
    color: #008CBA;
}

.btn-custom-back {
    background-color: #007bb5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom-back:hover {
    background-color: #45a049;
}

.btn-custom-create {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom-create:hover {
    background-color: #007bb5;

}

.btn-custom-like {
    background-color: #FF5733;

    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom-like:hover {
    background-color: #e64a19;

}

.btn-custom-reply {
    background-color: #f0ad4e;
    /* Light Orange */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom-reply:hover {
    background-color: #ec971f;

}

.btn-custom-submit {
    background-color: #007bb5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-custom-submit:hover {
    background-color: #31b0d5;

}

.post-date,
.reply-date {
    color: #666;
    font-size: 0.8em;
    margin-bottom: 10px;
    text-align: right;
}